@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

.credit-card-container{
    width:350px;
    height:220px;
    position: relative;
    z-index: 2;
}

.credit-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.credit-card-container-front, .credit-card-container-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    backface-visibility: hidden;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Inconsolata', monospace;   
}

.credit-card-container-front{
    
    padding: 20px 20px;
    background: #f46b45;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #eea849, #f46b45);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #eea849, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    -webkit-box-shadow: 16px 20px 25px 0px rgba(0,0,0,0.48);
    -moz-box-shadow: 16px 20px 25px 0px rgba(0,0,0,0.48);
    box-shadow: 16px 20px 25px 0px rgba(0,0,0,0.48); 
}

.credit-card-container-back{
    padding: 20px 0px;
    background: #f46b45;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #eea849, #f46b45);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #eea849, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    -webkit-box-shadow: 16px 20px 25px 0px rgba(0,0,0,0.48);
    -moz-box-shadow: 16px 20px 25px 0px rgba(0,0,0,0.48);
    box-shadow: 16px 20px 25px 0px rgba(0,0,0,0.48); 
    
    transform: rotateY(180deg);
}

.credit-card-logo{
    align-self: flex-end;
    height: 100px;
}

.credit-card-logo img{
    width: 70px;
    position: relative;
    right: -10px;
}

.credit-card-logo .Visa{
  right: -5px;
}

.credit-card-number{
   font-size: 27px;
   flex-grow: 1;
}

.credit-card-number+div{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
    font-size: 21px;
    align-items: center;
}

.credit-card-expired{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.credit-card-expired > div{
    text-align: left;
    font-size: 8px;
    margin-right: 5px;
}

.credit-card-magnetic-stripe{
    background-color: black;
    width: 100%;
    height: 40px;
}

.credit-card-magnetic-stripe+div{
    display: flex;
    margin-top: 15px;
}

.credit-card-signature-area{
    background-color: lightgray;
    width: 170px;
    height: 40px;
    margin-left: 20px;
}

.credit-card-cvv{
    background-color: white;
    width: 50px;
    height: 40px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}