@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.App {
  text-align: center;
  /* background-color: #07407b; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Open Sans', sans-serif;
  background: #085078;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #85D8CE, #085078);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #85D8CE, #085078); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  
}

.App > div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content{
  background-color: white;
  width:450px;
  height:380px;
  border-radius: 5px;
  padding: 80px 20px 0px;
  position: relative;
  z-index: 1;
  margin-top: -50px;
  -webkit-box-shadow: -1px 17px 17px -3px rgba(0,0,0,0.29);
  -moz-box-shadow: -1px 17px 17px -3px rgba(0,0,0,0.29);
  box-shadow: -1px 17px 17px -3px rgba(0,0,0,0.29);
}

.row{
  display: flex;
  justify-content: space-between;
  padding: 0px 5px;
}
